pyenv local 3.7.6

REPO_ROOT="$(git rev-parse --show-toplevel)"

if [[ ! -d "${REPO_ROOT}/.venv" ]]; then
  python3 -m venv .venv
fi

# Activate poetry virtualenv if not already active.
# Some shells / shell plugins allow tighter integration, eg. zsh-poetry
# so check before clobbering them.
if [[ "$(which python3)" != "$(poetry env info --path)/bin/python3" ]]; then
  poetry shell
fi

